user {{ nginx_user }};
worker_processes auto;

events {

    worker_connections  1024;
    multi_accept on;
}


http {

    include mime.types;

    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout 65;

   server {

        listen 80;

        server_name localhost;

        location / {
            proxy_pass http://{{ app_host_ip_address }}:{{ docker_application_bind_port }};
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }

    }
}
